<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | Add Artist</title>
  <%- include('stylesheets') %>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
  <h1><%= title %> | Add Artist</h1>
  <a href="/artists">Cancel</a>
  <form action="/artists/new" method="POST">
    Artist: <input name="artist" type="text" placeholder="Artist">
    Genre:
    <select name="genre">
      <option value="Rock">Rock</option>
      <option value="Hip-Hop">Hip-Hop</option>
      <option value="R&B">R&B</option>
      <option value="Country">Country</option>
      <option value="EDM">EDM</option>
      <option value="Electronica">Electronica</option>
      <option value="Jazz">Jazz</option>
      <option value="Blues">Blues</option>
    </select>
    <!-- Biography:
      <textarea name="bio" form="usrform">Enter bio here...</textarea> -->
      <button type="submit" class="btn btn-info btn_search">Add Artist To List</button>
  </form>
    <h1><%= title %> | Search Artists</h1>
      <form action="">
      <div class="form-group">
          <label for="name">Artist Name:</label>
          <input name="name" type="text">
          <button type="submit" class="btn btn-info btn_search">Search</button>
        </div>
      </form>
    <div id="resultarea"></div>
    <%- include('javascripts') %>
</body>
</html>
