<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | Artists</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="/lib/pure/pure-min.css">
</head>
<body>
  <h1><%= title %> | Artists</h1>
  <a href="/artists/new/">Add New Artist</a>
  <table>
    <thead>
      <tr>
        <th>Artist</th>
        <th>Genre</th>
        <!-- <th>Album</th> -->
        <!-- <th>Bio</th> -->
      </tr>
    </thead>
    <tbody>
      <% artists.forEach(function (artist) { %>
        <tr>
          <td><%= artist.artist %></td>
          <td><%= artist.genre %></td>
          <!-- <td><%= artist._id %></td> -->
          <!-- <td><%= artist.album %></td> -->
          <!-- <td><%= artist.bio %></td> -->
        </tr>
        <form action='/artists/delete/<%= artist._id %>' method="POST">
          <input type="submit" value="Delete">
        </form>
      <% }); %>
    </tbody>
  </table>
  <script src="/js/main.js"></script>
</body>
</html>
